.contact input,textarea{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 2px solid rgb(23, 28, 33);
    outline: none;
    font-size: 18px;
}
.contact button{
    padding: 10px 20px;
    background-color: black;
    color :white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer ;
}
.contact button:hover{
    opacity: 0.7;
}